<li class="nav-item">
    <a class="nav-link" asp-area="" asp-action="Login" asp-controller="Home">Giriş Yap</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-action="Register" asp-controller="Home">Kayıt Ol</a>
</li>