
@model UserDto

<li class="nav-item">
    <a class="nav-link" href="#"><i class="far fa-hand-paper mr-2"></i>Hoş geldin, @Model.UserFirstName</a>
</li>

<li class="nav-item">
    <a class="nav-link" asp-area="" asp-action="Logout" asp-controller="Home"><i class="fas fa-sign-out-alt mr-2"></i>Çıkış Yap</a>
</li>

