
@model UserDto

<li class="nav-item">
    <a class="nav-link" asp-area="@Pati.Web.StringConsts.AreaConsts.Member" asp-action="Index" asp-controller="Profile"><i class="far fa-user-circle mr-2"></i>@Model.UserFirstName</a>
</li>

<li class="nav-item">
    <a class="nav-link" asp-area="" asp-action="Logout" asp-controller="Home"><i class="fas fa-sign-out-alt mr-2"></i>Çıkış Yap</a>
</li>

