
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<body>
    <section class="dark-bg" id="hero">
        <div class="container">
            <div class="d-flex h-100 flex-column text-light justify-content-center">
                <h1 class="display-1">Pati</h1>
                <p class="lead">
                    Öncelikle biz kimiz sorusunun cevabını kısaca verelim hayvanların para karşılığında bir eşyaymış
                    gibi satılmasını istemeyenleriz. Barınaktaki hayvanlarında diğer hayvanlarla eşit sevilme hakkı olduğuna
                    inanıyoruz.
                </p>
            </div>
        </div>
    </section>


    <section class="questions" id="sss">
        <div class="container mb-5">
            <div class="row mt-3">
                <div class="col-sm-12 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Giriş</h5>
                            <div class="form-group">
                                <label for="email">E-mail</label>
                                <input type="email" id="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="password">Şifre</label>
                                <input type="password" id="password" class="form-control" placeholder="şifre">
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <button class="btn btn-danger">Giriş</button>
                                </div>
                                <div class="col-sm-6  col-md-6 ">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
                                        Kayıt Ol
                                    </button>
                                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Kayıt Ol</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="name">İsim</label>
                                                        <input type="text" id="name" class="form-control" placeholder="İsminizi Girin">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">E-mail</label>
                                                        <input type="email" id="email" class="form-control" placeholder="E-mail Adresini Girin">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password">Şifre</label>
                                                        <input type="password" id="password" class="form-control" placeholder="Şifrenizi Girin">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password">Şifre</label>
                                                        <input type="password" id="password" class="form-control" placeholder="Şifrenizi Girin">
                                                    </div>


                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                    <button type="button" class="btn btn-danger">Kayıt Ol</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left text-danger" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Pati Nedir?
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Pati sadece barınaklarda bulunan hayvanların özelliklerini gösteren ve evcil hayvan sahiplenmek isteyen
                                    kişilere bu konu hakkında yardımcı olan bir web sitedir.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left text-danger collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Pati Neyi Hedeflemektedir?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Barınaklarda bulunan dostlarımızın tamamen ücretsiz bir şekilde yeni birer yuva bulmalarını sağlamak ve
                                    onların orda mutlu olabilmelerini sağlamaktır.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left text-danger collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Patiye kimler kaydolabilir?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Patiye herkes kaydolabilir ancak herkes evcil hayvan sahiplenemez. Kayıt olan kişilerin evcil hayvan
                                    sahiplenmek için bazı şartları karşılayıp karşılamadığı kontrol edilmektedir.
                                    <br>
                                    Bu şartlar nelerdir?
                                    <br>
                                    1-Evcil hayvanı sahiplenen kişinin düzenli bir geliri olup olmadığı kontrol edilir. <br>
                                    2-Sahiplenilecek hayvanın cinsi hakkında temel bilgisi olup olmadığı kontrol edilir. <br>
                                    3-Evcil hayvan sahiplenecek kişiyle beraber yaşayan kişilerinde bu evcil hayvanı isteyip istemeyeceği
                                    kontrol edilir. <br>
                                    4-Evcil hayvan sahiplenecek kişinin hayvanın sorumluluğunu almaya hazır olup olmadığı kontrol edilir. <br>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left text-danger collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Hayvan Sahiplenmenin Faydaları?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h2 class="display-5 text-danger mb-5">Hayvan Sahiplenmenin Faydaları</h2>
                                    <div class="row mb-3">
                                        <div class="col-md-12 col-lg-8 bg-light">
                                            <div class="d-flex h-100 flex-column justify-content-center">
                                                <h3>Evcil Hayvanlar Sorumluluk Sahibi Olmayı Sağlar</h3>
                                                <p>
                                                    Evcil hayvanların yaşamını gereken konforda sürdürmesi için beslenmeleri, dolaştırılması,
                                                    temizlenmesi,
                                                    sağlık kontrollerinin aksatılmaması şart. Tüm bunlar kişideki sorumluluk duygusunu güçlendiriyor.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 p-0">
                                            <img class="img-fluid " src="./img/k.jpg">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-12 col-lg-8 bg-light">
                                            <div class="d-flex h-100 flex-column justify-content-center">
                                                <h3>Stressiz Bir Yaşam</h3>
                                                <p>
                                                    Evcil hayvanlarla iletişim kurmak, insanların üzerindeki stresin dağılması için birebir bir çözüm
                                                    sunuyor. Yapılan araştırmalar, evcil hayvanı olanlar yaşama çok daha pozitif bakıyorlar.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4  p-0">
                                            <img class="img-fluid " src="./img/photo-1472491235688-bdc81a63246e.jfif">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-12 col-lg-8 bg-light">
                                            <div class="d-flex h-100 flex-column justify-content-center">
                                                <h3>Empati Yapma Yetisinin Gelişmesi</h3>
                                                <p>
                                                    Bir evcil hayvana sahip olmak, insanlarda empati yetisini geliştiriyor. Böylelikle dünyada başka
                                                    canlıların da var olduğunu, onların da yaşamını devam ettirmesi gerektiğini daha iyi
                                                    anlayabiliyoruz.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 p-0">
                                            <img class="img-fluid " src="./img/k2.jpg">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-12 col-lg-8 bg-light">
                                            <div class="d-flex h-100 flex-column justify-content-center">
                                                <h3>Yanlızlık Duygusundan Kurtulmak</h3>
                                                <p>
                                                    Yaşam içinde kimi zaman insanlar kendilerini yalnız hissedebilir. Ancak evcil hayvana sahip
                                                    olanlar, bu
                                                    bakımdan hayli şanslılar. Çünkü evcil hayvanınız bir süre sonra ailenizin bir parçası olarak,
                                                    sürekli size
                                                    eşlik eden bir birey haline geliyor.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4  p-0">
                                            <img class="img-fluid " src="./img/3.jfif">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-12 col-lg-8 bg-light">
                                            <div class="d-flex h-100 flex-column justify-content-center">
                                                <h3>Çocukların Sevgi İle Büyümesini Sağlar</h3>
                                                <p>
                                                    Evcil hayvanı olan çocuklar, çok daha merhamet dolu, duyarlı ve sorumluluk sahibi bireyler olarak
                                                    yetişiyorlar. Gelecekte daha iyi bir dünya için, çocukların bu duygularla büyümesi hayli önemli.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-4 p-0">
                                            <img class="img-fluid " src="./img/4.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contact" class="generic dark-bg">
        <div class="container">
            <h2 class="display-5 text-danger mb-5">Bize Ulaşın</h2>
            <form class="row">
                <div class="col-6">
                    <div class="input group">
                        <input type="text" class="form-control rounded-0 border-danger text-white bg-transparent"
                               placeholder="Ad:*" required>
                    </div>
                </div>

                <div class="col-6">
                    <div class="input group">
                        <input type="text" class="form-control rounded-0 border-danger text-white bg-transparent"
                               placeholder="E-mail:*" required>
                    </div>
                </div>

                <div class="col-12 py-4">
                    <div class="input group">
                        <textarea class="form-control rounded-0 border-danger text-white bg-transparent"
                                  placeholder="Mesajınızı Girin:*" rows="5" required></textarea>
                    </div>
                </div>

                <div class="d-grid ml-3">
                    <button type="submit" class="btn btn-outline-danger rounded-0 text-uppercase">
                        Gönder
                    </button>
                </div>
            </form>
        </div>
    </section>


    <footer class="pd-5 bg-danger text-white text-center">
        Pati.com ©2020 Her Hakkı Saklıdır
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

</body>


