@model UserLoginDto
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="shadow my-3 p-4 container" method="post" asp-action="Login">
    <h3 class="mb-3">Giriş Yap</h3>
    <div class="form-group">
        <label>E-Posta:</label>
        <input type="text" class="form-control" asp-for="@Model.Email" required />
    </div>

    <div class="form-group">
        <label>Şifre:</label>
        <input type="password" class="form-control" asp-for="Password" required />
    </div>

    <div>Hesabınız yok mu? <a asp-action="Register">Kayıt ol!</a></div>

    <div class="mt-2">
        <a class="btn btn-warning"><i class="fas fa-arrow-alt-circle-left mr-2"></i>Geri Git</a>
        <button type="submit" class="btn btn-success">Giriş Yap</button>
    </div>
</form>

