@model ContactDto
@{
    Layout = null;
}


<section id="contact" class="generic dark-bg">
    <div class="container">


        <h2 class="display-5 text-danger mb-5">Bize Ulaşın</h2>
        <div class="col">
            <form class="row" asp-action="Send" asp-controller="Contact" asp-area="" method="post">
                <div class="col-6">
                    <div class="input group">
                        <input type="text" asp-for="Name" class="form-control rounded-0 border-danger text-white bg-transparent"
                               placeholder="Ad:*" required>
                    </div>
                </div>

                <div class="col-6">
                    <div class="input group">
                        <input type="text" asp-for="Email" class="form-control rounded-0 border-danger text-white bg-transparent"
                               placeholder="E-mail:*" required>
                    </div>
                </div>

                <div class="col-12 py-4">
                    <div class="input group">
                        <textarea asp-for="Message" class="form-control rounded-0 border-danger text-white bg-transparent"
                                  placeholder="Mesajınızı Girin:*" rows="5" required></textarea>
                    </div>
                </div>

                <div class="d-grid ml-3">
                    <button type="submit" class="btn btn-outline-danger rounded-0 text-uppercase">
                        Gönder
                    </button>
                </div>

            </form>
        </div>
    </div>
</section>