
.form-control.form-control-bordered {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control.form-control-bordered, .is-focused .form-control.form-control-bordered {
    background-image: None !important;
}

/* bootstrap switch size alternative - md */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.form-group input[type=file] {
     opacity: 1 !important; 
     position: static !important; 
}

/* end of bootstrap switch size alternative - md */

#messagesBody .modal-dialog {
    max-width: 900px;
    height: 500px;
}

#messagesBody .modal-content{
    height:500px;
}


#messagesBody .modal-dialog textarea[disabled]{
    background-color: white;
    cursor:default;
}
table.messages .message-details {
    background-color: transparent;
}

table.messages td.message div {
    width:800px!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}