/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
    white-space: normal;
    text-align: center;
    color: white;
    word-break: break-all;
}

.guest-home {
    background-color: azure;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-outline-secondary:hover {
    color: white !important;
}

.row {
    /*grid-column-gap: 10px;*/
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-nav li a {
    color: white;
}


.navbar-nav li a:hover {
    color: lightgray;
}


.nav-link :hover {
    color: lightgray !important;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.home-row {
    margin: 2rem;
    height: 500px;
    background-color: #f9effa;
}

.filter-row {
    margin-top: 1rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Responsive ayaları
---------------------------------------------------*/

@media (max-width: 991.98px) {
    .home-row {
        margin: 0rem;
    }
}


.dark-bg {
    background-image: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0, .9)), url('../img/main_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero .container {
    height: 75vh;
    padding:0px;
}

.generic {
    padding: 100px 0;
}


.navbar {
    background-image: linear-gradient(to right,#c30000,#3c0000) !important;
}

footer .container-fluid {
    background-image: linear-gradient(to right,#c30000,#3c0000) !important;
    color: white;
}


.card-img, .card-img-top{
    max-height:250px;
}

.filter-row .pet-container{
    max-height:700px;
}